
<app-admin-nav></app-admin-nav>
<h1>Catégories</h1>
<mat-list role="list">
  	<mat-list-item role="listitem" *ngFor="let category of categories">
  		<mat-divider></mat-divider>
        <div class="container">
    		  <div class="flex-item">Nom de la catégorie : {{category.nameCategory}}</div><div class="flex-item"> Ordre de difficulté : {{category.orderCategory}}</div>
      		<button (click)="deleteCategory(category)" class="btn btn-danger flex-item">Delete</button>
      		<button (click)="displayUpdate(category)" class="btn btn-warning flex-item">Update</button>
        </div>
	</mat-list-item>
	<mat-list-item>
		<button class="btn btn-success" (click)="displayAddCategory()">{{buttonDisplayAdd}} Ajouter une catégorie</button>
	</mat-list-item>
</mat-list>


<div *ngIf="displayAdd">
  <form (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field>
      <mat-label>Nom de la catégorie </mat-label>
      <input matInput [(ngModel)]="category.nameCategory" name="name"> 
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ordre de difficulté</mat-label>
      <input matInput [(ngModel)]="category.orderCategory" name="ordre"> 
    </mat-form-field>
    <button  type="submit" class="btn btn-success">Create Category</button>
  </form>
</div>