<header id="header" class="skel-layers-fixed">
    <h1>
        <a href="#"></a>
    </h1>
    <nav id="nav">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li><a href="#">Acceuil</a></li>
            <li><a href="home/connexion">Connexion</a></li>
            <li><a href="home/inscription">Inscription</a></li>


        </ul>
    </nav>
</header>

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Connexion</h2>
    </header>
</section>

<div class="form_connect_inscri">

    <form (ngSubmit)="onSubmit(connectionForm.value)" #connectionForm="ngForm">
        <p>Email/Username:<span style="color:red"> *</span></p>
        <input class="form-control" type="text" id="username" required="required" size="20" [(ngModel)]="model.userEmail" [(ngModel)]="model.userName" name="username" placeholder="sample@mail.com/emmanuel.macron">
        <br>
        <p>Password:<span style="color:red"> *</span></p>
        <input [(ngModel)]="model.userPassword" class="form-control" id="password" name="password" type="password" required="required" size="15">
        <br/>

        <select class="form-control" id="power" required [(ngModel)]="model.userClass" name="groupid">
            <option [value]="1">Login as Administrator</option>
            <option [value]="2">Login as User</option>
        </select><br/>
        <input type="submit" value="Submit" [disabled]="!connectionForm.form.valid">

        <p *ngIf="error" class=error><strong>{{error}}</strong></p>
    </form>
    <!-- <p>{{connectionForm.value|json}}</p> -->
</div>


<!-- <div *ngIf="user">
    <div>
        <textarea>{{user.nom}}</textarea>
        <textarea>{{user.pw}}</textarea>
    </div>
</div>
<button type="button" (click)="getUsername()">Test sql</button> -->