<header id="header" class="skel-layers-fixed">
    <h1>
        <a href="#"></a>
    </h1>
    <nav id="nav">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li><a href="#">Acceuil</a></li>
            <li><a href="home/connexion">Connexion</a></li>
            <li><a href="#">Inscription</a></li>


        </ul>
    </nav>
</header>

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Connexion</h2>
    </header>
</section>


<form (ngSubmit)="onSubmit()" #connectionForm="ngForm">
    <p>Email:<span style="color:red"> *</span></p>
    <input class="form-control" type="text" id="username" placeholder="sample@mail.com/emmanuel.macron" required="required" size="20" [(ngModel)]="model.username" name="username" #username="ngModel">
    <br>
    <p>Password:<span style="color:red"> *</span></p>
    <input [(ngModel)]="model.password" class="form-control" id="password" name="password" type="password" required="required" size="15">
    <br/>
    <input type="radio" [(ngModel)]="model.groupid" value="1">Login as Administrator<br>
    <input type="radio" [(ngModel)]="model.groupid" value="2" checked>Login as User<br><br>
    <input type="submit" value="Submit" [disabled]="!connexionForm.form.valid">
</form>
<p>{{connexionForm.value|json}}</p>



<!-- <div *ngIf="user">
    <div>
        <textarea>{{user.nom}}</textarea>
        <textarea>{{user.pw}}</textarea>
    </div>
</div>
<button type="button" (click)="getUsername()">Test sql</button> -->