<body>
<div *ngIf="exerciseDB">
  <h1>Exercice {{exerciseDB.idExercise}} </h1>
  <mat-card>{{exerciseDB.textExercise}}</mat-card>
</div>

<div class="example-form">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Votre requête</mat-label>
      <input [(ngModel)]="model.sqlQuery" id="sqlQuery" matInput name="sqlQuery" placeholder="select ..." type="text"
             value="">
      <button (click)="this.model.sqlQuery='';correct=null;this.dataResults=null" *ngIf="this.model.sqlQuery"
              aria-label="Clear" mat-button mat-icon-button
              matSuffix>
        <mat-icon>close</mat-icon>
      </button>

    </mat-form-field>
    <button class="btn btn-success" mat-button type="submit">Submit</button>

  </form>
  <div class="check-icon-div">
    <div *ngIf="correct==true">
      <mat-icon class="check-icon" id="true">check</mat-icon>
      <p class="check-message-true">Bravo!</p>
    </div>
    <div *ngIf="correct==false">
      <mat-icon class="check-icon" id="false">close</mat-icon>
      <p class="check-message-false">{{this.getErrorCode()}}  {{this.getRootCause()}}</p>
    </div>

  </div>
</div>


<div *ngIf="this.dataResults!=null&&!this.hasSqlSyntaxError()" align="center">
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th *matHeaderCellDef mat-header-cell> {{column}} </th>
      <td *matCellDef="let element" mat-cell> {{element[column]}} </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>

<div class="example-form">
  <button (click)="lastExercise()" *ngIf="this.idExerciseToShow!=1" class="btn btn-success">Exercice précédent</button>
  <button (click)="nextExercise()" class="btn btn-success">Exercice suivant</button>
</div>
</body>
