h1{
	text-align: center;
	margin: 2% 0 2% 0;
}

mat-card{
	margin: 0 20% 0 20%;
}

form  {
	
}

table {
  width: 60%;
  overflow: auto
}

.example-form {
  margin: 2% 20% 0 20%;
  width: 60%;
}

.example-full-width {
  width: 100%;
}

.center{
	text-align: center;
}

.success{
	font-size: 5em;
	color : green;
}

.fail{
	font-size: 5em;
	color: red;
}