<app-student-nav></app-student-nav>
<div class="container">
	<mat-card class="cateCard"  *ngFor="let category of categories">
		<mat-card-header>
			<mat-card-title>
				{{category.nameCategory}}
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			Nombre d'exercices total : {{category.nbTotal}}<br>
			Nombre d'exercices réussis : {{category.nbDone}}
			<button class="btn btn-success" [routerLink]="['../exercise', category.idCategory]" [disabled]="isFinished(category)">Choisir cette catégorie</button>
		</mat-card-content>
	</mat-card>

</div>